
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_DB=compass

APP_HOST=localhost
APP_PORT=10000
APP_ENV=dev | production
LOGGER_LEVEL=info
FRONTEND_URI=http://localhost:3000


ACCESS_LIFETIME=5m
ACCESS_SECRET=change_me_access_secret
REFRESH_LIFETIME=24h
REFRESH_SECRET=change_me_refresh_secret

MINIO_ACCESS_KEY=minio_app
MINIO_SECRET_KEY=change_me_minio_app_secret

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_minio_root_password

MINIO_HOST=localhost
MINIO_PORT=9000

MINIO_SSL=false
