# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=compass

# App
APP_HOST=localhost
APP_PORT=9000
APP_ENV=dev
LOGGER_LEVEL=info

# JWT
ACCESS_LIFETIME=5m
ACCESS_SECRET=change_me0
REFRESH_LIFETIME=24h
REFRESH_SECRET=change_me1
